// 
// Estilos para los elementos base
//

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $sans;
}

p {
  line-height: 21px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  color: #fff;
  margin-top: 0; 
}

h2 {
  margin-top: 0;
}

h5 {
  border-bottom: 1px solid $subscribecolor;
  color: $subscribecolor;
  margin-bottom: 0;
}

