// 
// Variables
//

// Tipografía
$sans: Helvetica, Arial, sans-serif;
$serif: Times, "Times New Roman", serif;

// Colores
$maincolor: #00A0A9;  // Turquesa 
$subscribecolor: #29AEDE;  // Celeste
$secundarycolor: #FF7708; // Anaranjado
$hover: #4ABDC6; // Turquesa claro

// Layout
$max-width: 960px;
$content-width: 960px;