//
// Estilos del header
//

header {
  height: 20em;
  background-color: $maincolor;
  width: 100%
}


.main-nav {
  float: left;
  width: 66%;
  li {
    display: inline-block;
    padding: 1.5% 2%;
  }
  li:hover{
    background-color: $hover;
  }
  a {
    color: #fff;
  }
}

.socials-main {
  float: right;
  margin-top: 4em;
  ul {
    display: inline-block;
    margin-top: 36px
  }
  li {
    display: inline-block;
  }
  span {
    color: #fff;
    margin-right: 2em;
  }

}

.header-content {
  max-width: $max-width;
  margin: 0 auto;
  padding-top: 39px;
}